.section h2{
    text-align: center;
}

.calendar h3{
    text-align: center;
}

.dia{
    display: grid;
    place-content: center;
    background-color: white;
    border: 1px solid black;
    padding: 30px;
    width: auto;
    height: auto;
}

.dia p{
    line-height: 30px;
}

.dia:hover{
    transition: .3s ease-in-out all;
    border: 1px solid #f34918;
    scale: 1.06;
}

.wapper-eventos{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.icon-color {
    color: #f34918; /* Cambia este valor por el color que desees */
}